*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    height: 100vh;
    width: 100vw;
}

.container {
    height: 100vh;
    background-image: url("https://img.freepik.com/premium-photo/stack-books_488220-73032.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.innerContainer {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.markContainer{
    background-color: rgb(39, 39, 39);
    width: 80%;
    height: 25rem;
    border-radius: 2rem;
    border: 0.2rem solid rgb(115, 115, 213);
    box-shadow: 0px 0px 4px black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.text p,h2{
    font-size: 3rem;
    text-align: center;
}

.calculate_form {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 5rem;
    place-content: center;
    padding: 3rem;
    height: 60%;
}

input{
    height: 2.5rem;
    padding: 0.2rem;
    border-radius: 0.2rem;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    font-size: 1rem;
    max-width: 18rem;
}

input::placeholder {
    color: white;
    font-size: 1.2rem;
}

input:focus {
    outline: 2px solid blue;
}

.calculateBtn {
    font-size: 1.6rem;
    width: 13rem;
    border-radius: 0.6rem;
    padding: 0.3rem 0.2rem;
    background-color: rgb(80, 80, 251);
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.calculateBtn:hover {
    background-color: rgb(47, 47, 235);
    box-shadow: 0px 0px 2px red;
}

.markContainer p {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.invisible {
    visibility: hidden;
}